<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmpay.gx.dao.IMenuDao" >

    <resultMap id="BaseResultMap" type="com.cmpay.gx.entity.MenuDO" >
        <result column="id" property="id" jdbcType="BIGINT" />
        <result column="u_id" property="id" jdbcType="BIGINT" />
        <result column="r_id" property="rid" jdbcType="BIGINT" />
        <result column="create_by" property="createBy" jdbcType="VARCHAR" />
        <result column="create_date" property="createDate" jdbcType="DATE" />
        <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
        <result column="update_date" property="updateDate" jdbcType="DATE" />
        <result column="is_use" property="isUse" jdbcType="TINYINT" />
    </resultMap>

    <sql id="Base_Column_List" >
        t_id, t_username, t_name, t_password, t_email, t_phone, t_department, t_post, t_normal

    </sql>


    <insert id="insert" parameterType="com.cmpay.gx.entity.MenuDO" >
        insert into t_user_role
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="uId != null" >
                u_id,
            </if>
            <if test="rId != null" >
                r_id,
            </if>
            <if test="createBy != null" >
                create_by,
            </if>
            <if test="createDate != null" >
                create_date,
            </if>
            <if test="updateBy != null" >
                update_by,
            </if>
            <if test="updateDate != null" >
                update_date,
            </if>
            <if test="isUse != null" >
                is_use,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=BIGINT},
            </if>
            <if test="uId != null" >
                #{uId,jdbcType=BIGINT},
            </if>
            <if test="rId != null" >
                #{rId,jdbcType=BIGINT},
            </if>
            <if test="createBy != null" >
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null" >
                #{createDate,jdbcType=DATE},
            </if>
            <if test="updateBy != null" >
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null" >
                #{updateDate,jdbcType=DATE},
            </if>
            <if test="isUse != null" >
                #{isUse,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>

    <select id="find" resultMap="BaseResultMap" parameterType="com.cmpay.gx.entity.MenuDO" >
        select 
        <include refid="Base_Column_List" />
        from t_user_role
        <where >
            <if test="id != null" >
                and id = #{id,jdbcType=BIGINT}
            </if>
            <if test="uId != null" >
                and u_id = #{uId,jdbcType=BIGINT}
            </if>
            <if test="rId != null" >
                and r_id = #{rId,jdbcType=BIGINT}
            </if>
            <if test="createBy != null" >
                and create_by = #{createBy,jdbcType=VARCHAR}
            </if>
            <if test="createDate != null" >
                and create_date = #{createDate,jdbcType=DATE}
            </if>
            <if test="updateBy != null" >
                and update_by = #{updateBy,jdbcType=VARCHAR}
            </if>
            <if test="updateDate != null" >
                and update_date = #{updateDate,jdbcType=DATE}
            </if>
            <if test="isUse != null" >
                and is_use = #{isUse,jdbcType=TINYINT}
            </if>
        </where>
    </select>
</mapper>