<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmpay.gx.dao.IRoleDao" >

    <resultMap id="BaseResultMap" type="com.cmpay.gx.entity.RoleDO" >
        <result column="t_id" property="id" jdbcType="BIGINT" />
        <result column="t_name" property="name" jdbcType="VARCHAR" />
        <result column="t_remarks" property="remarks" jdbcType="VARCHAR" />
        <result column="t_action" property="action" jdbcType="VARCHAR" />
        <result column="create_by" property="createBy" jdbcType="VARCHAR" />
        <result column="create_date" property="createDate" jdbcType="DATE" />
        <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
        <result column="update_date" property="updateDate" jdbcType="DATE" />
        <result column="is_use" property="isUse" jdbcType="TINYINT" />
    </resultMap>
    <sql id="Base_Column_List" >
        t_id, t_name, t_remarks, create_by, create_date, update_by, update_date, is_use

    </sql>
    <insert id="insert" parameterType="com.cmpay.gx.entity.RoleDO" >
        insert into t_role
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                t_id,
            </if>
            <if test="name != null" >
                t_name,
            </if>
            <if test="remarks != null" >
                t_remarks,
            </if>
            <if test="action != null" >
                t_action,
            </if>
            <if test="createBy != null" >
                create_by,
            </if>
            <if test="createDate != null" >
                create_date,
            </if>
            <if test="updateBy != null" >
                update_by,
            </if>
            <if test="updateDate != null" >
                update_date,
            </if>
            <if test="isUse != null" >
                is_use,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{tId,jdbcType=BIGINT},
            </if>
            <if test="name != null" >
                #{tName,jdbcType=VARCHAR},
            </if>
            <if test="remarks != null" >
                #{tRemarks,jdbcType=VARCHAR},
            </if>
            <if test="action != null" >
                #{tAction,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null" >
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null" >
                #{createDate,jdbcType=DATE},
            </if>
            <if test="updateBy != null" >
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null" >
                #{updateDate,jdbcType=DATE},
            </if>
            <if test="isUse != null" >
                #{isUse,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>

    <select id="find" resultMap="BaseResultMap" parameterType="com.cmpay.gx.entity.RoleDO" >
        select 
        <include refid="Base_Column_List" />
        from t_role
        <where >
            <if test="id != null" >
                and t_id = #{tId,jdbcType=BIGINT}
            </if>
            <if test="name != null" >
                and t_name = #{tName,jdbcType=VARCHAR}
            </if>
            <if test="remarks != null" >
                and t_remarks = #{tRemarks,jdbcType=VARCHAR}
            </if>
            <if test="action != null" >
                and t_action = #{tAction,jdbcType=VARCHAR}
            </if>
            <if test="createBy != null" >
                and create_by = #{createBy,jdbcType=VARCHAR}
            </if>
            <if test="createDate != null" >
                and create_date = #{createDate,jdbcType=DATE}
            </if>
            <if test="updateBy != null" >
                and update_by = #{updateBy,jdbcType=VARCHAR}
            </if>
            <if test="updateDate != null" >
                and update_date = #{updateDate,jdbcType=DATE}
            </if>
            <if test="isUse != null" >
                and is_use = #{isUse,jdbcType=TINYINT}
            </if>
        </where>
    </select>
</mapper>