<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmpay.gx.dao.IUserDao" >
<select id="FindUser" parameterType="com.cmpay.gx.entity.UserDO" resultMap="BaseResultMap">
              select
                <include refid="Base_Column_List" />
               from t_users where t_username=#{username} and t_password =#{password}

</select>
<update id="UpdateUser">
UPDATE t_users
<set>

        <if test="name != null" >
             t_name = #{name,jdbcType=VARCHAR},
        </if>
        <if test="password != null" >
             t_password = #{password,jdbcType=VARCHAR},
        </if>
        <if test="email != null" >
             t_email = #{email,jdbcType=VARCHAR},
        </if>
        <if test="phone != null" >
             t_phone = #{phone,jdbcType=VARCHAR},
        </if>
        <if test="department != null" >
             t_department = #{department,jdbcType=VARCHAR},
        </if>
        <if test="post != null" >
             t_post = #{post,jdbcType=VARCHAR},
        </if>
        <if test="normal != null" >
             t_normal = #{normal,jdbcType=TINYINT},
        </if>
        <if test="createBy != null" >
             create_by = #{createBy,jdbcType=VARCHAR},
        </if>
        <if test="createDate != null" >
             create_date = #{createDate,jdbcType=DATE},
        </if>
        <if test="updateBy != null" >
             update_by = #{updateBy,jdbcType=VARCHAR},
        </if>
        <if test="updateDate != null" >
             update_date = #{updateDate,jdbcType=DATE},
        </if>
        <if test="isUse != null" >
             is_use = #{isUse,jdbcType=TINYINT}
        </if>


</set>
 where t_username=#{username}
</update>

</mapper>