<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmpay.gx.dao.IUserDao" >

    <resultMap id="BaseResultMap" type="com.cmpay.gx.entity.UserDO" >
        <result column="t_id" property="id" jdbcType="BIGINT" />
        <result column="t_username" property="username" jdbcType="VARCHAR" />
        <result column="t_name" property="name" jdbcType="VARCHAR" />
        <result column="t_password" property="password" jdbcType="VARCHAR" />
        <result column="t_email" property="email" jdbcType="VARCHAR" />
        <result column="t_phone" property="phone" jdbcType="VARCHAR" />
        <result column="t_department" property="department" jdbcType="VARCHAR" />
        <result column="t_post" property="post" jdbcType="VARCHAR" />
        <result column="t_normal" property="normal" jdbcType="TINYINT" />
        <result column="create_by" property="createBy" jdbcType="VARCHAR" />
        <result column="create_date" property="createDate" jdbcType="DATE" />
        <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
        <result column="update_date" property="updateDate" jdbcType="DATE" />
        <result column="is_use" property="isUse" jdbcType="TINYINT" />
    </resultMap>

    <sql id="Base_Column_List" >
        t_id, t_username, t_name, t_password, t_email, t_phone, t_department, t_post, t_normal,create_date

    </sql>



    <insert id="insert" parameterType="com.cmpay.gx.entity.UserDO" >
        insert into t_users
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                t_id,
            </if>
            <if test="username != null" >
                t_username,
            </if>
            <if test="name != null" >
                t_name,
            </if>
            <if test="password != null" >
                t_password,
            </if>
            <if test="email != null" >
                t_email,
            </if>
            <if test="phone != null" >
                t_phone,
            </if>
            <if test="department != null" >
                t_department,
            </if>
            <if test="post != null" >
                t_post,
            </if>
            <if test="normal != null" >
                t_normal,
            </if>
            <if test="createBy != null" >
                create_by,
            </if>
            <if test="createDate != null" >
                create_date,
            </if>
            <if test="updateBy != null" >
                update_by,
            </if>
            <if test="updateDate != null" >
                update_date,
            </if>
            <if test="isUse != null" >
                is_use,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=BIGINT},
            </if>
            <if test="username != null" >
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="password != null" >
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="email != null" >
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="phone != null" >
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="department != null" >
                #{department,jdbcType=VARCHAR},
            </if>
            <if test="post != null" >
                #{post,jdbcType=VARCHAR},
            </if>
            <if test="normal != null" >
                #{normal,jdbcType=TINYINT},
            </if>
            <if test="createBy != null" >
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null" >
                #{createDate,jdbcType=DATE},
            </if>
            <if test="updateBy != null" >
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null" >
                #{updateDate,jdbcType=DATE},
            </if>
            <if test="isUse != null" >
                #{isUse,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>

    <select id="find" resultMap="BaseResultMap" parameterType="com.cmpay.gx.entity.UserDO" >
        select 
        <include refid="Base_Column_List" />
        from t_users
        <where >
            <if test="id != null" >
                and t_id = #{id,jdbcType=BIGINT}
            </if>
            <if test="username != null" >
                and t_username = #{username,jdbcType=VARCHAR}
            </if>
            <if test="name != null" >
                and t_name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="password != null" >
                and t_password = #{password,jdbcType=VARCHAR}
            </if>
            <if test="email != null" >
                and t_email = #{email,jdbcType=VARCHAR}
            </if>
            <if test="phone != null" >
                and t_phone = #{phone,jdbcType=VARCHAR}
            </if>
            <if test="department != null" >
                and t_department = #{department,jdbcType=VARCHAR}
            </if>
            <if test="post != null" >
                and t_post = #{post,jdbcType=VARCHAR}
            </if>
            <if test="normal != null" >
                and t_normal = #{normal,jdbcType=TINYINT}
            </if>
            <if test="createBy != null" >
                and create_by = #{createBy,jdbcType=VARCHAR}
            </if>
            <if test="createDate != null" >
                and create_date = #{createDate,jdbcType=DATE}
            </if>
            <if test="updateBy != null" >
                and update_by = #{updateBy,jdbcType=VARCHAR}
            </if>
            <if test="updateDate != null" >
                and update_date = #{updateDate,jdbcType=DATE}
            </if>
            <if test="isUse != null" >
                and is_use = #{isUse,jdbcType=TINYINT}
            </if>
        </where>
    </select>
</mapper>